body, html {
  height: 100%;
  margin: 0;
  background-color: #d9d9d9;
}

div.cart-main{
  position: relative;
  top: 10%;
  display: block;
  width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 15px;
  background-color: #808080;
}
div.cart-main-sub{
  background-color: #e6e6e6;
  padding: 10px;
}
div.cart-service{
  font-weight: bold;
  font-size: 20px;
}
div.cart-submit{
  float: right;
  margin-top: -3%;
}
div.order, div.cancel{
  padding: 2px;
  float: left;
}
span{
  font-weight: bold;
}
span.days{
  margin-left: 5%;
}
