html, body{
  height: 100%;
  margin: 0;
  background-color: rgb(255, 255, 182);
}
div.login{
  position: relative;
  border: solid;
  background-color: white;
  top: 15%;
  width: 30%;
  margin: auto;
  height: 50%;
  box-shadow: 3px 3px 3px 3px black;
  border-width: thin;
  border-color: blue;
}
span{
  position: relative;
  color: black;
  font-size: 30px;
  left: 27%;
  top: 10%;
}
.signin-form{
  position: relative;
  top: 15%;
  width: 70%;
  margin: auto;
  margin-top: 5%;
  padding: 20px;
  border-radius: 5px;
}
.signin-form-inside{
  width: 100%;
  margin: auto;
}
input{
  font-size: 15px;
  padding: 10px;
  width: 90%;
  margin: auto;
}
input[type="submit"]{
  width: 48%;
}
input[type="text"]:focus,input[type="password"]:focus{
  border-color: #ff6347;
  border-width: medium;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 2px #ff6347;
}
