header{
  bottom: 40%;
}
.sign-form-left{
  position: relative;
  top:20%;
  width:30%;
  float: left;
  margin-left: 5%;
  margin-right: 30%;
}
.sign-form-inside-left{
  position: relative;
  width:40%;
}

.sign-form-right{
  position: relative;
  top:20%;
  width:30%;
  float: left;
}
.sign-form-inside-right{
  position: relative;
  width:40%;
}
